### 4. Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [2]:
favorite_movies = [
    "The Shawshank Redemption",
    "Inception",
    "The Godfather",
    "The Dark Knight",
    "Forrest Gump"
]
favorite_movies

['The Shawshank Redemption',
 'Inception',
 'The Godfather',
 'The Dark Knight',
 'Forrest Gump']

In [3]:
favorite_movies.append("Avengers")
favorite_movies

['The Shawshank Redemption',
 'Inception',
 'The Godfather',
 'The Dark Knight',
 'Forrest Gump',
 'Avengers']

In [5]:
for movie in favorite_movies:
    print(movie)

The Shawshank Redemption
Inception
The Godfather
The Dark Knight
Forrest Gump
Avengers

### 5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [6]:
list_integer = [1,2,3,4,5,6,7,8,9,10]
list_integer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
sum_integer = sum(list_integer)
sum_integer

55

Another way:

In [8]:
integers = list(range(1,11))
integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
total_sum = sum(integers)
total_sum

55

### 6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [11]:
mixed_list = ["trekking", 5, 1.234, "Dinesh", 10, 100.200]
mixed_list

['trekking', 5, 1.234, 'Dinesh', 10, 100.2]

In [12]:
mixed_list.pop(0)
mixed_list

[5, 1.234, 'Dinesh', 10, 100.2]

In [13]:
for mixedlist in mixed_list:
    print(mixedlist)

5
1.234
Dinesh
10
100.2

### 7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [14]:
weekDays = ("Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
weekDays

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [17]:
third_day = weekDays[2]
third_day

'Tuesday'

### 8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [18]:
fav_colors = ("Red","Green", "Blue", "Cyan", "Magenta")
fav_colors

('Red', 'Green', 'Blue', 'Cyan', 'Magenta')

In [22]:
color_present = "Cyan"
if color_present in fav_colors:
    print("Color present: ",color_present)
else:
    print("No such colors present")

Color present:  Cyan

### 9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [23]:
book_info = {
    "title": "Harry Potter",
    "author": "J. K. Rowling",
    "year": 1997
}
book_info

{'title': 'Harry Potter', 'author': 'J. K. Rowling', 'year': 1997}

In [24]:
newYear = 2007
book_info["year"] = newYear
book_info

{'title': 'Harry Potter', 'author': 'J. K. Rowling', 'year': 2007}

### 10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.

In [27]:
fruits_name = {
    "apple" : "red",
    "orange":"orange",
    "grapes":"green",
    "banana":"yellow",
    "mango":"yellowish orange"
}

fruits_name

{'apple': 'red',
 'orange': 'orange',
 'grapes': 'green',
 'banana': 'yellow',
 'mango': 'yellowish orange'}

In [32]:

fruits_name["watermelon"] = "green"
fruits_name

{'apple': 'red',
 'orange': 'orange',
 'grapes': 'green',
 'banana': 'yellow',
 'mango': 'yellowish orange',
 'watermelon': 'green'}

### 11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [34]:
city_population = {
    "Baneshwor": 938748,
    "Lalitpur": 990456,
    "Bhaktapur": 705994,
    "Koteshwor": 25502,
    "Budanilkantha": 680992
}
city_population

{'Baneshwor': 938748,
 'Lalitpur': 990456,
 'Bhaktapur': 705994,
 'Koteshwor': 25502,
 'Budanilkantha': 680992}

In [35]:
city_population.pop("Lalitpur", None)
city_population

{'Baneshwor': 938748,
 'Bhaktapur': 705994,
 'Koteshwor': 25502,
 'Budanilkantha': 680992}